$def with (language_to_model)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Webpage to select a sentence</title>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <style>
        .Large
        {
        font-size: 16pt;
        height: 50px;
        width: 500px;
        }
        </style>
    </head>

    <body>

        <form action="showSentence" method="post" name="selectForm">
            <h2> Select the language </h2>
            <select name="language">
                $for key in language_to_model.keys():
                    <option value="$key"> $key </option>

                    <!--<option value="English"> english </option>-->
            </select> <br><br>
            <h2> Enter a sentence/part of sentence that you wish to query. </h2>
            <input type="text" id="sentence" name="sentence" value="" placeholder="The sentence that is to be parsed." class="Large"><br><br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>
